.body-login{
    background-image: url("/dist/assets/img/oliver-sjostrom-597489-unsplash.png");
}
.header{
    color: white;
    margin-top: 10px;
}
    
.heure{
    margin-left: 30px;
}
.fa-signal{
    margin-left: 60%;
}


.milieu img{
    margin-top: 50%;
    margin-left: 20%;
    
}
.milieu h6{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    
}

.bouton{
   
    margin-top: 75%;
    text-align: center;
}
.btn-blanc{
    background-color: white;
  
    color: rgb(55, 66, 231);

   margin-bottom: 20px;
   padding-left: 115px;
   padding-right: 115px;
   border-radius: 20px;
}
.btn-bleu{
    background-color: rgb(55, 66, 231);
   
   color: white;
 
   padding-left: 115px;
   padding-right: 115px;
   border-radius: 20px;
   margin-bottom: 100px;
}
/**********************************************LIST*********************************************/

.card-text.texte{
    font-size: 12px;
    color: gray;
}

.lush{
    margin-left: 15px;
    margin-right: 15px;
}

.btn-jaune{
    background-color: rgb(255, 210, 61);
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 1px;
    padding-bottom:1px;
    margin-top: 20px;
}
.btn-jaune1{
    background-color: rgb(255, 210, 61);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 1px;
    padding-bottom:1px;
    position: relative;
    bottom: 15px;
}
.jaune1{
    text-align: center;

}
